# Get your API key from https://openrouter.ai/keys
OPENROUTER_API_KEY="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"

# This is the public URL of your Expo app's API routes.
# It's usually http://<your-local-ip-address>:<port>
# You can find your local IP address by running `ifconfig` or `ipconfig`.
# The port is usually 8081 for Expo.
EXPO_PUBLIC_API_URL="http://172.20.10.4:8081"
